inputPort_outputPort.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>b0fe0c74-0186-1000-19ef-258fad7ac948</groupId>
    <name>inputPort_outputPort</name>
    <snippet>
        <processGroups>
            <id>e90eaf66-be60-3b56-0000-000000000000</id>
            <parentGroupId>27963a70-f63e-3866-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>4452c96f-4ee9-39d2-0000-000000000000</id>
                    <parentGroupId>e90eaf66-be60-3b56-0000-000000000000</parentGroupId>
                    <versionedComponentId>4452c96f-4ee9-39d2-a86f-d3b98d97a5d9</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>34c5123b-cf11-349c-0000-000000000000</groupId>
                        <id>7656aa34-3c04-39bc-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>cbfe9c60-f9e6-39ba-9b96-1c309e59af04</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>8de523aa-40a4-3049-0000-000000000000</groupId>
                        <id>72f5eaef-679c-3220-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>f5149ded-f13a-38f7-857a-e29d461e782d</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processGroups>
                    <id>34c5123b-cf11-349c-0000-000000000000</id>
                    <parentGroupId>e90eaf66-be60-3b56-0000-000000000000</parentGroupId>
                    <position>
                        <x>-376.0</x>
                        <y>424.0</y>
                    </position>
                    <versionedComponentId>34c5123b-cf11-349c-9d9e-25459523bf44</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>3fce073d-15de-3232-0000-000000000000</id>
                            <parentGroupId>34c5123b-cf11-349c-0000-000000000000</parentGroupId>
                            <versionedComponentId>94f4743a-0788-3c31-81b9-2c3b589ae8f0</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>34c5123b-cf11-349c-0000-000000000000</groupId>
<id>6faeccab-6999-39e7-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>385fe70e-d2ed-39c7-97fc-4640ce4ea25c</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>34c5123b-cf11-349c-0000-000000000000</groupId>
<id>3fcb5923-1ecf-3c40-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>b1f6d943-093a-36dd-92d7-93762fedd1a5</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>adb3e8f6-45c8-34fa-0000-000000000000</id>
                            <parentGroupId>34c5123b-cf11-349c-0000-000000000000</parentGroupId>
                            <versionedComponentId>70aff77a-82c4-38f3-8b4b-c9fe0c5d6b6d</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>34c5123b-cf11-349c-0000-000000000000</groupId>
<id>b165b63d-b773-3981-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>d8a88165-2646-3a77-86a0-20a1da9f7175</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>34c5123b-cf11-349c-0000-000000000000</groupId>
<id>6faeccab-6999-39e7-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>385fe70e-d2ed-39c7-97fc-4640ce4ea25c</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>b3759a58-2c2b-3448-0000-000000000000</id>
                            <parentGroupId>34c5123b-cf11-349c-0000-000000000000</parentGroupId>
                            <versionedComponentId>c7e0aff9-1c04-3d03-9667-55bd1a601917</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>34c5123b-cf11-349c-0000-000000000000</groupId>
<id>6faeccab-6999-39e7-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>385fe70e-d2ed-39c7-97fc-4640ce4ea25c</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>34c5123b-cf11-349c-0000-000000000000</groupId>
<id>7656aa34-3c04-39bc-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>cbfe9c60-f9e6-39ba-9b96-1c309e59af04</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>b165b63d-b773-3981-0000-000000000000</id>
                            <parentGroupId>34c5123b-cf11-349c-0000-000000000000</parentGroupId>
                            <position>
<x>384.0</x>
<y>448.0</y>
                            </position>
                            <versionedComponentId>d8a88165-2646-3a77-86a0-20a1da9f7175</versionedComponentId>
                        </funnels>
                        <inputPorts>
                            <id>7656aa34-3c04-39bc-0000-000000000000</id>
                            <parentGroupId>34c5123b-cf11-349c-0000-000000000000</parentGroupId>
                            <position>
<x>864.0</x>
<y>256.0</y>
                            </position>
                            <versionedComponentId>cbfe9c60-f9e6-39ba-9b96-1c309e59af04</versionedComponentId>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>input</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <processors>
                            <id>3fcb5923-1ecf-3c40-0000-000000000000</id>
                            <parentGroupId>34c5123b-cf11-349c-0000-000000000000</parentGroupId>
                            <position>
<x>232.0</x>
<y>-16.0</y>
                            </position>
                            <versionedComponentId>b1f6d943-093a-36dd-92d7-93762fedd1a5</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
    <entry>
        <key>mime-type</key>
        <value>
            <name>mime-type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>0B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>mime-type</key>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GenerateFlowFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                        <processors>
                            <id>6faeccab-6999-39e7-0000-000000000000</id>
                            <parentGroupId>34c5123b-cf11-349c-0000-000000000000</parentGroupId>
                            <position>
<x>232.0</x>
<y>216.0</y>
                            </position>
                            <versionedComponentId>385fe70e-d2ed-39c7-97fc-4640ce4ea25c</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Log Level</key>
        <value>
            <name>Log Level</name>
        </value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>
            <name>Log Payload</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
        <value>
            <name>Attributes to Log</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>
            <name>attributes-to-log-regex</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
        <value>
            <name>Attributes to Ignore</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
        <value>
            <name>attributes-to-ignore-regex</name>
        </value>
    </entry>
    <entry>
        <key>Log FlowFile Properties</key>
        <value>
            <name>Log FlowFile Properties</name>
        </value>
    </entry>
    <entry>
        <key>Output Format</key>
        <value>
            <name>Output Format</name>
        </value>
    </entry>
    <entry>
        <key>Log prefix</key>
        <value>
            <name>Log prefix</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Log Level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
    </entry>
    <entry>
        <key>Log FlowFile Properties</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Output Format</key>
        <value>Line per Attribute</value>
    </entry>
    <entry>
        <key>Log prefix</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>windows-1254</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>LogAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogAttribute</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Input_Port</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>8de523aa-40a4-3049-0000-000000000000</id>
                    <parentGroupId>e90eaf66-be60-3b56-0000-000000000000</parentGroupId>
                    <position>
                        <x>336.0</x>
                        <y>424.0</y>
                    </position>
                    <versionedComponentId>8de523aa-40a4-3049-8d2d-37ef6cc9911a</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>f17e595a-4ac7-3e74-0000-000000000000</id>
                            <parentGroupId>8de523aa-40a4-3049-0000-000000000000</parentGroupId>
                            <versionedComponentId>b6d0fd5d-aed3-36a9-83ae-d6c54b7f8eda</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>8de523aa-40a4-3049-0000-000000000000</groupId>
<id>72f5eaef-679c-3220-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>f5149ded-f13a-38f7-857a-e29d461e782d</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>8de523aa-40a4-3049-0000-000000000000</groupId>
<id>b466580f-e1f1-3a49-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>84b365b8-ef70-3d3d-9750-9803b62b9f24</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <outputPorts>
                            <id>72f5eaef-679c-3220-0000-000000000000</id>
                            <parentGroupId>8de523aa-40a4-3049-0000-000000000000</parentGroupId>
                            <position>
<x>360.0</x>
<y>304.0</y>
                            </position>
                            <versionedComponentId>f5149ded-f13a-38f7-857a-e29d461e782d</versionedComponentId>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>output</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processGroups>
                            <id>888b0ff1-3614-3ecf-0000-000000000000</id>
                            <parentGroupId>8de523aa-40a4-3049-0000-000000000000</parentGroupId>
                            <position>
<x>-944.0</x>
<y>2024.0</y>
                            </position>
                            <versionedComponentId>8ea6b1b1-9e38-3d53-9acb-e8fb15b57d6e</versionedComponentId>
                            <comments></comments>
                            <contents>
<connections>
    <id>220f4819-02d8-391e-0000-000000000000</id>
    <parentGroupId>888b0ff1-3614-3ecf-0000-000000000000</parentGroupId>
    <versionedComponentId>7dc4f8f3-181b-36c5-8165-deebf40540c3</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>888b0ff1-3614-3ecf-0000-000000000000</groupId>
        <id>65148737-9c85-3a2d-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>21e4cf1e-8046-3d26-8e2f-abc7490a0eec</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>888b0ff1-3614-3ecf-0000-000000000000</groupId>
        <id>de67ad07-6f14-35c5-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>9ef3572d-f3d9-34eb-935e-877347b78923</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>98f13c1e-d480-316e-0000-000000000000</id>
    <parentGroupId>888b0ff1-3614-3ecf-0000-000000000000</parentGroupId>
    <versionedComponentId>43cae2e6-3bcc-34a3-b1c6-a9cd0fc8169a</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <bends>
        <x>196.0</x>
        <y>348.0</y>
    </bends>
    <destination>
        <groupId>888b0ff1-3614-3ecf-0000-000000000000</groupId>
        <id>f3cc61ae-afa8-3e0e-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>e770263a-7baf-3c21-89d1-13dd758f3caf</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>failure</selectedRelationships>
    <source>
        <groupId>888b0ff1-3614-3ecf-0000-000000000000</groupId>
        <id>65148737-9c85-3a2d-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>21e4cf1e-8046-3d26-8e2f-abc7490a0eec</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>f60161b0-e1dd-3357-0000-000000000000</id>
    <parentGroupId>888b0ff1-3614-3ecf-0000-000000000000</parentGroupId>
    <versionedComponentId>6a02bc55-d857-30f4-bd4a-6bfb82c8b1ed</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>888b0ff1-3614-3ecf-0000-000000000000</groupId>
        <id>f3cc61ae-afa8-3e0e-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>e770263a-7baf-3c21-89d1-13dd758f3caf</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>888b0ff1-3614-3ecf-0000-000000000000</groupId>
        <id>65148737-9c85-3a2d-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>21e4cf1e-8046-3d26-8e2f-abc7490a0eec</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<controllerServices>
    <id>3f342166-05ec-37a8-0000-000000000000</id>
    <parentGroupId>888b0ff1-3614-3ecf-0000-000000000000</parentGroupId>
    <versionedComponentId>0970a1fd-9c0e-3c2c-a661-be7efaea5b09</versionedComponentId>
    <bulletinLevel>WARN</bulletinLevel>
    <bundle>
        <artifact>nifi-registry-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.19.1</version>
    </bundle>
    <comments></comments>
    <descriptors>
        <entry>
            <key>avro-reg-validated-field-names</key>
            <value>
                <name>avro-reg-validated-field-names</name>
            </value>
        </entry>
        <entry>
            <key>users</key>
            <value>
                <name>users</name>
            </value>
        </entry>
    </descriptors>
    <name>AvroSchemaRegistry</name>
    <persistsState>false</persistsState>
    <properties>
        <entry>
            <key>avro-reg-validated-field-names</key>
            <value>true</value>
        </entry>
        <entry>
            <key>users</key>
            <value>{
 "name": "person",
 "namespace": "nifi",
 "type": "record",
 "fields": [
 {"name": "first_name" , "type" : "string"},
 {"name": "age" , "type" : "int"}
 ]
}</value>
        </entry>
    </properties>
    <state>DISABLED</state>
    <type>org.apache.nifi.schemaregistry.services.AvroSchemaRegistry</type>
</controllerServices>
<controllerServices>
    <id>6ea2ae4b-9f82-31cc-0000-000000000000</id>
    <parentGroupId>888b0ff1-3614-3ecf-0000-000000000000</parentGroupId>
    <versionedComponentId>9b2f88cc-019a-3de9-bd21-6986b4e6ddb2</versionedComponentId>
    <bulletinLevel>WARN</bulletinLevel>
    <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.19.1</version>
    </bundle>
    <comments></comments>
    <descriptors>
        <entry>
            <key>Schema Write Strategy</key>
            <value>
                <name>Schema Write Strategy</name>
            </value>
        </entry>
        <entry>
            <key>schema-cache</key>
            <value>
                <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                <name>schema-cache</name>
            </value>
        </entry>
        <entry>
            <key>schema-protocol-version</key>
            <value>
                <dependencies>
                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                    <propertyName>Schema Write Strategy</propertyName>
                </dependencies>
                <name>schema-protocol-version</name>
            </value>
        </entry>
        <entry>
            <key>schema-access-strategy</key>
            <value>
                <name>schema-access-strategy</name>
            </value>
        </entry>
        <entry>
            <key>schema-registry</key>
            <value>
                <dependencies>
                    <dependentValues>confluent-encoded</dependentValues>
                    <dependentValues>schema-name</dependentValues>
                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                <name>schema-registry</name>
            </value>
        </entry>
        <entry>
            <key>schema-name</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-name</name>
            </value>
        </entry>
        <entry>
            <key>schema-version</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-version</name>
            </value>
        </entry>
        <entry>
            <key>schema-branch</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-branch</name>
            </value>
        </entry>
        <entry>
            <key>schema-text</key>
            <value>
                <dependencies>
                    <dependentValues>schema-text-property</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-text</name>
            </value>
        </entry>
        <entry>
            <key>Date Format</key>
            <value>
                <name>Date Format</name>
            </value>
        </entry>
        <entry>
            <key>Time Format</key>
            <value>
                <name>Time Format</name>
            </value>
        </entry>
        <entry>
            <key>Timestamp Format</key>
            <value>
                <name>Timestamp Format</name>
            </value>
        </entry>
        <entry>
            <key>Pretty Print JSON</key>
            <value>
                <name>Pretty Print JSON</name>
            </value>
        </entry>
        <entry>
            <key>suppress-nulls</key>
            <value>
                <name>suppress-nulls</name>
            </value>
        </entry>
        <entry>
            <key>output-grouping</key>
            <value>
                <name>output-grouping</name>
            </value>
        </entry>
        <entry>
            <key>compression-format</key>
            <value>
                <name>compression-format</name>
            </value>
        </entry>
        <entry>
            <key>compression-level</key>
            <value>
                <dependencies>
                    <dependentValues>gzip</dependentValues>
                    <propertyName>compression-format</propertyName>
                </dependencies>
                <name>compression-level</name>
            </value>
        </entry>
    </descriptors>
    <name>Demo JsonRecordSetWriter</name>
    <persistsState>false</persistsState>
    <properties>
        <entry>
            <key>Schema Write Strategy</key>
            <value>schema-name</value>
        </entry>
        <entry>
            <key>schema-cache</key>
        </entry>
        <entry>
            <key>schema-protocol-version</key>
            <value>1</value>
        </entry>
        <entry>
            <key>schema-access-strategy</key>
            <value>schema-name</value>
        </entry>
        <entry>
            <key>schema-registry</key>
            <value>3f342166-05ec-37a8-0000-000000000000</value>
        </entry>
        <entry>
            <key>schema-name</key>
            <value>${schema.name}</value>
        </entry>
        <entry>
            <key>schema-version</key>
        </entry>
        <entry>
            <key>schema-branch</key>
        </entry>
        <entry>
            <key>schema-text</key>
            <value>${avro.schema}</value>
        </entry>
        <entry>
            <key>Date Format</key>
        </entry>
        <entry>
            <key>Time Format</key>
        </entry>
        <entry>
            <key>Timestamp Format</key>
        </entry>
        <entry>
            <key>Pretty Print JSON</key>
            <value>false</value>
        </entry>
        <entry>
            <key>suppress-nulls</key>
            <value>never-suppress</value>
        </entry>
        <entry>
            <key>output-grouping</key>
            <value>output-array</value>
        </entry>
        <entry>
            <key>compression-format</key>
            <value>none</value>
        </entry>
        <entry>
            <key>compression-level</key>
            <value>1</value>
        </entry>
    </properties>
    <state>DISABLED</state>
    <type>org.apache.nifi.json.JsonRecordSetWriter</type>
</controllerServices>
<controllerServices>
    <id>81ae7364-1f09-360a-0000-000000000000</id>
    <parentGroupId>888b0ff1-3614-3ecf-0000-000000000000</parentGroupId>
    <versionedComponentId>e2a17c26-eeb0-3be0-9b65-b16f813dc3fa</versionedComponentId>
    <bulletinLevel>WARN</bulletinLevel>
    <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.19.1</version>
    </bundle>
    <comments></comments>
    <descriptors>
        <entry>
            <key>schema-access-strategy</key>
            <value>
                <name>schema-access-strategy</name>
            </value>
        </entry>
        <entry>
            <key>schema-registry</key>
            <value>
                <dependencies>
                    <dependentValues>confluent-encoded</dependentValues>
                    <dependentValues>schema-name</dependentValues>
                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                <name>schema-registry</name>
            </value>
        </entry>
        <entry>
            <key>schema-name</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-name</name>
            </value>
        </entry>
        <entry>
            <key>schema-version</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-version</name>
            </value>
        </entry>
        <entry>
            <key>schema-branch</key>
            <value>
                <dependencies>
                    <dependentValues>schema-name</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-branch</name>
            </value>
        </entry>
        <entry>
            <key>schema-text</key>
            <value>
                <dependencies>
                    <dependentValues>schema-text-property</dependentValues>
                    <propertyName>schema-access-strategy</propertyName>
                </dependencies>
                <name>schema-text</name>
            </value>
        </entry>
        <entry>
            <key>csv-reader-csv-parser</key>
            <value>
                <name>csv-reader-csv-parser</name>
            </value>
        </entry>
        <entry>
            <key>Date Format</key>
            <value>
                <name>Date Format</name>
            </value>
        </entry>
        <entry>
            <key>Time Format</key>
            <value>
                <name>Time Format</name>
            </value>
        </entry>
        <entry>
            <key>Timestamp Format</key>
            <value>
                <name>Timestamp Format</name>
            </value>
        </entry>
        <entry>
            <key>CSV Format</key>
            <value>
                <name>CSV Format</name>
            </value>
        </entry>
        <entry>
            <key>Value Separator</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>Value Separator</name>
            </value>
        </entry>
        <entry>
            <key>Record Separator</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>Record Separator</name>
            </value>
        </entry>
        <entry>
            <key>Skip Header Line</key>
            <value>
                <name>Skip Header Line</name>
            </value>
        </entry>
        <entry>
            <key>ignore-csv-header</key>
            <value>
                <name>ignore-csv-header</name>
            </value>
        </entry>
        <entry>
            <key>Quote Character</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>Quote Character</name>
            </value>
        </entry>
        <entry>
            <key>Escape Character</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>Escape Character</name>
            </value>
        </entry>
        <entry>
            <key>Comment Marker</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>Comment Marker</name>
            </value>
        </entry>
        <entry>
            <key>Null String</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>Null String</name>
            </value>
        </entry>
        <entry>
            <key>Trim Fields</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>Trim Fields</name>
            </value>
        </entry>
        <entry>
            <key>csvutils-character-set</key>
            <value>
                <name>csvutils-character-set</name>
            </value>
        </entry>
        <entry>
            <key>csvutils-allow-duplicate-header-names</key>
            <value>
                <dependencies>
                    <dependentValues>custom</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>csvutils-allow-duplicate-header-names</name>
            </value>
        </entry>
        <entry>
            <key>Trim double quote</key>
            <value>
                <dependencies>
                    <dependentValues>rfc-4180</dependentValues>
                    <propertyName>CSV Format</propertyName>
                </dependencies>
                <name>Trim double quote</name>
            </value>
        </entry>
    </descriptors>
    <name>Demo CSVReader</name>
    <persistsState>false</persistsState>
    <properties>
        <entry>
            <key>schema-access-strategy</key>
            <value>csv-header-derived</value>
        </entry>
        <entry>
            <key>schema-registry</key>
        </entry>
        <entry>
            <key>schema-name</key>
            <value>${schema.name}</value>
        </entry>
        <entry>
            <key>schema-version</key>
        </entry>
        <entry>
            <key>schema-branch</key>
        </entry>
        <entry>
            <key>schema-text</key>
            <value>${avro.schema}</value>
        </entry>
        <entry>
            <key>csv-reader-csv-parser</key>
            <value>commons-csv</value>
        </entry>
        <entry>
            <key>Date Format</key>
        </entry>
        <entry>
            <key>Time Format</key>
        </entry>
        <entry>
            <key>Timestamp Format</key>
        </entry>
        <entry>
            <key>CSV Format</key>
            <value>custom</value>
        </entry>
        <entry>
            <key>Value Separator</key>
            <value>,</value>
        </entry>
        <entry>
            <key>Record Separator</key>
            <value>\n</value>
        </entry>
        <entry>
            <key>Skip Header Line</key>
            <value>true</value>
        </entry>
        <entry>
            <key>ignore-csv-header</key>
            <value>false</value>
        </entry>
        <entry>
            <key>Quote Character</key>
            <value>"</value>
        </entry>
        <entry>
            <key>Escape Character</key>
            <value>\</value>
        </entry>
        <entry>
            <key>Comment Marker</key>
        </entry>
        <entry>
            <key>Null String</key>
        </entry>
        <entry>
            <key>Trim Fields</key>
            <value>true</value>
        </entry>
        <entry>
            <key>csvutils-character-set</key>
            <value>UTF-8</value>
        </entry>
        <entry>
            <key>csvutils-allow-duplicate-header-names</key>
            <value>true</value>
        </entry>
        <entry>
            <key>Trim double quote</key>
            <value>true</value>
        </entry>
    </properties>
    <state>DISABLED</state>
    <type>org.apache.nifi.csv.CSVReader</type>
</controllerServices>
<labels>
    <id>e5b78123-108f-33a0-0000-000000000000</id>
    <parentGroupId>888b0ff1-3614-3ecf-0000-000000000000</parentGroupId>
    <position>
        <x>680.0</x>
        <y>96.0</y>
    </position>
    <versionedComponentId>858ab86e-54f7-3765-aef0-4fbe1772a785</versionedComponentId>
    <height>112.0</height>
    <label>9-) Controller Services, Nifi'de Processors, Reporting Tasks ve diğer Controller Services
tarafından kullanılabilen, paylaşılan hizmetlerdir.
Apache Nifi Controller Services ile büyük processors gruplarını kontrol etme yeteneğine sahiptir.
Controller Services, service kimlik bilgileri veya veri şemaları gibi bilgileri ve yapılandırmaları 
merkezleştirmek için kullanışlıdır.</label>
    <style>
        <entry>
            <key>font-size</key>
            <value>14px</value>
        </entry>
    </style>
    <width>688.0</width>
    <zIndex>0</zIndex>
</labels>
<processors>
    <id>65148737-9c85-3a2d-0000-000000000000</id>
    <parentGroupId>888b0ff1-3614-3ecf-0000-000000000000</parentGroupId>
    <position>
        <x>304.0</x>
        <y>176.0</y>
    </position>
    <versionedComponentId>21e4cf1e-8046-3d26-8e2f-abc7490a0eec</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.19.1</version>
    </bundle>
    <config>
        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>record-reader</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                    <name>record-reader</name>
                </value>
            </entry>
            <entry>
                <key>record-writer</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                    <name>record-writer</name>
                </value>
            </entry>
            <entry>
                <key>include-zero-record-flowfiles</key>
                <value>
                    <name>include-zero-record-flowfiles</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>record-reader</key>
                <value>81ae7364-1f09-360a-0000-000000000000</value>
            </entry>
            <entry>
                <key>record-writer</key>
                <value>6ea2ae4b-9f82-31cc-0000-000000000000</value>
            </entry>
            <entry>
                <key>include-zero-record-flowfiles</key>
                <value>true</value>
            </entry>
        </properties>
        <retryCount>10</retryCount>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>ConvertRecord</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
        <retry>false</retry>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
        <retry>false</retry>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.ConvertRecord</type>
</processors>
<processors>
    <id>de67ad07-6f14-35c5-0000-000000000000</id>
    <parentGroupId>888b0ff1-3614-3ecf-0000-000000000000</parentGroupId>
    <position>
        <x>304.0</x>
        <y>-72.0</y>
    </position>
    <versionedComponentId>9ef3572d-f3d9-34eb-935e-877347b78923</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.19.1</version>
    </bundle>
    <config>
        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>File Size</key>
                <value>
                    <name>File Size</name>
                </value>
            </entry>
            <entry>
                <key>Batch Size</key>
                <value>
                    <name>Batch Size</name>
                </value>
            </entry>
            <entry>
                <key>Data Format</key>
                <value>
                    <name>Data Format</name>
                </value>
            </entry>
            <entry>
                <key>Unique FlowFiles</key>
                <value>
                    <name>Unique FlowFiles</name>
                </value>
            </entry>
            <entry>
                <key>generate-ff-custom-text</key>
                <value>
                    <name>generate-ff-custom-text</name>
                </value>
            </entry>
            <entry>
                <key>character-set</key>
                <value>
                    <name>character-set</name>
                </value>
            </entry>
            <entry>
                <key>mime-type</key>
                <value>
                    <name>mime-type</name>
                </value>
            </entry>
            <entry>
                <key>schema.name</key>
                <value>
                    <name>schema.name</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>File Size</key>
                <value>0B</value>
            </entry>
            <entry>
                <key>Batch Size</key>
                <value>1</value>
            </entry>
            <entry>
                <key>Data Format</key>
                <value>Text</value>
            </entry>
            <entry>
                <key>Unique FlowFiles</key>
                <value>false</value>
            </entry>
            <entry>
                <key>generate-ff-custom-text</key>
                <value>first_name,age
ege,12
ada,10</value>
            </entry>
            <entry>
                <key>character-set</key>
                <value>UTF-8</value>
            </entry>
            <entry>
                <key>mime-type</key>
            </entry>
            <entry>
                <key>schema.name</key>
                <value>users</value>
            </entry>
        </properties>
        <retryCount>10</retryCount>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>60 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>GenerateFlowFile</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
        <retry>false</retry>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
</processors>
<processors>
    <id>f3cc61ae-afa8-3e0e-0000-000000000000</id>
    <parentGroupId>888b0ff1-3614-3ecf-0000-000000000000</parentGroupId>
    <position>
        <x>304.0</x>
        <y>472.0</y>
    </position>
    <versionedComponentId>e770263a-7baf-3c21-89d1-13dd758f3caf</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.19.1</version>
    </bundle>
    <config>
        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Log Level</key>
                <value>
                    <name>Log Level</name>
                </value>
            </entry>
            <entry>
                <key>Log Payload</key>
                <value>
                    <name>Log Payload</name>
                </value>
            </entry>
            <entry>
                <key>Attributes to Log</key>
                <value>
                    <name>Attributes to Log</name>
                </value>
            </entry>
            <entry>
                <key>attributes-to-log-regex</key>
                <value>
                    <name>attributes-to-log-regex</name>
                </value>
            </entry>
            <entry>
                <key>Attributes to Ignore</key>
                <value>
                    <name>Attributes to Ignore</name>
                </value>
            </entry>
            <entry>
                <key>attributes-to-ignore-regex</key>
                <value>
                    <name>attributes-to-ignore-regex</name>
                </value>
            </entry>
            <entry>
                <key>Log FlowFile Properties</key>
                <value>
                    <name>Log FlowFile Properties</name>
                </value>
            </entry>
            <entry>
                <key>Output Format</key>
                <value>
                    <name>Output Format</name>
                </value>
            </entry>
            <entry>
                <key>Log prefix</key>
                <value>
                    <name>Log prefix</name>
                </value>
            </entry>
            <entry>
                <key>character-set</key>
                <value>
                    <name>character-set</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Log Level</key>
                <value>info</value>
            </entry>
            <entry>
                <key>Log Payload</key>
                <value>false</value>
            </entry>
            <entry>
                <key>Attributes to Log</key>
            </entry>
            <entry>
                <key>attributes-to-log-regex</key>
                <value>.*</value>
            </entry>
            <entry>
                <key>Attributes to Ignore</key>
            </entry>
            <entry>
                <key>attributes-to-ignore-regex</key>
            </entry>
            <entry>
                <key>Log FlowFile Properties</key>
                <value>true</value>
            </entry>
            <entry>
                <key>Output Format</key>
                <value>Line per Attribute</value>
            </entry>
            <entry>
                <key>Log prefix</key>
            </entry>
            <entry>
                <key>character-set</key>
                <value>windows-1254</value>
            </entry>
        </properties>
        <retryCount>10</retryCount>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>LogAttribute</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
        <retry>false</retry>
    </relationships>
    <state>DISABLED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.LogAttribute</type>
</processors>
                            </contents>
                            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                            <name>CSV to JSON</name>
                            <variables/>
                        </processGroups>
                        <processors>
                            <id>b466580f-e1f1-3a49-0000-000000000000</id>
                            <parentGroupId>8de523aa-40a4-3049-0000-000000000000</parentGroupId>
                            <position>
<x>304.0</x>
<y>0.0</y>
                            </position>
                            <versionedComponentId>84b365b8-ef70-3d3d-9750-9803b62b9f24</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.19.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Input Directory</key>
        <value>
            <name>Input Directory</name>
        </value>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>
            <name>File Filter</name>
        </value>
    </entry>
    <entry>
        <key>Path Filter</key>
        <value>
            <name>Path Filter</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Keep Source File</key>
        <value>
            <name>Keep Source File</name>
        </value>
    </entry>
    <entry>
        <key>Recurse Subdirectories</key>
        <value>
            <name>Recurse Subdirectories</name>
        </value>
    </entry>
    <entry>
        <key>Polling Interval</key>
        <value>
            <name>Polling Interval</name>
        </value>
    </entry>
    <entry>
        <key>Ignore Hidden Files</key>
        <value>
            <name>Ignore Hidden Files</name>
        </value>
    </entry>
    <entry>
        <key>Minimum File Age</key>
        <value>
            <name>Minimum File Age</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Age</key>
        <value>
            <name>Maximum File Age</name>
        </value>
    </entry>
    <entry>
        <key>Minimum File Size</key>
        <value>
            <name>Minimum File Size</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Size</key>
        <value>
            <name>Maximum File Size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Input Directory</key>
        <value>C:\example</value>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>polinity_group.txt</value>
    </entry>
    <entry>
        <key>Path Filter</key>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>10</value>
    </entry>
    <entry>
        <key>Keep Source File</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Recurse Subdirectories</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Polling Interval</key>
        <value>0 sec</value>
    </entry>
    <entry>
        <key>Ignore Hidden Files</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Minimum File Age</key>
        <value>0 sec</value>
    </entry>
    <entry>
        <key>Maximum File Age</key>
    </entry>
    <entry>
        <key>Minimum File Size</key>
        <value>0 B</value>
    </entry>
    <entry>
        <key>Maximum File Size</key>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GetFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GetFile</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Output_Port</name>
                    <variables/>
                </processGroups>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>inputPort_outputPort</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>07/23/2023 11:48:22 EET</timestamp>
</template>
